@media (max-width: 310px) {
}
@media (max-width: 375px) {
}

@media (max-width: 440px) {
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 1.4em;
  }
  .achievements .achievements-content {
    justify-content: center;
    gap: 5vw;
  }
  .achievements-item img {
    width: 60px;
  }
  .review-item .review-text {
    font-size: 1em;
  }
  .process .process-video iframe {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  button {
    width: 30vw;
  }

  header {
    /* background-image: none; */
    background-image: url(../img/bg/headerSmall.jpg);
  }
  .menu .hamburger {
  display: block;
  }
  header .main {
    width: 100%;
    text-align: center;
    padding-top: 15%;
  }

  .main .main-title {
    font-size: 1em;
  }
  .menu .menu-list {
    display: none;
  }
  .menu .hamburger {
    display: flex;
  }
  .skills {
    height: 90vh;
  }
  .skills .skills-progress {
    width: 100%;
  }
  .skills .skills-img {
    display: none;
  }
  .work {
    height: 50vh !important;
  }
  .work-box {
    height: 20vh !important;
  }
  .company .company-item:hover {
    transform: scale(1);
    transition: 0.5s;
  }
  .review-content .slider-dots {
    display: none;
  }

  footer {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .main .main-title {
    font-size: 1em;
  }
  .achievements-item {
    display: block;
  }
  .achievements .achievements-content {
    align-items: center;
    text-align: center;
  }
  .achievements-item img {
    padding: 0;
  }
}

@media (max-width: 1439.98px) {
}

@media (max-width: 1599.98px) {
}

@media (max-width: 1799.98px) {
}
@media (max-width: 2047.98px) {
}
